<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>
<body>
    <h1>Calculadora</h1>
    <p>
        O resultado da operação 
        
            <%if(Operacao=='divi'){%>
                <strong>Divisão</strong>
            <%}else if(Operacao=='mult'){{%>
                <strong>Multiplicação</strong>
            <%}else if(Operacao=='subt'){ %>
                <strong>Subtração</strong>
            <%}else if(Operacao=='soma'){%>
                <strong>Soma</strong>
            <%} else {%>
                <strong>Operação não encontrada</strong>
            <% } %>
        é
        <strong>
            <%=Valor%>
        </strong>
    </p>
</body>
</html>