<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table{
            margin: 5px 40px;
            border: solid 5px black;
            border-collapse:collapse;
        }
        td{
            border-left: solid 1px black;
            border-right: solid 1px black;
            padding: 10px;
        }
    </style>
</head>
<body>

    <%for(var i=inicio;i<=fim;i++){%>
        <table>
            <tr>
                <td>Nome:________________________</td>
                <td rowspan="2"><%=mensagem%></td>
            </tr>
            <tr>
                <td>Telefone:_____________________</td>
            </tr>
            <tr>
                <td>Nº <%=i%></td>
                <td>Nº <%=i%></td>
            </tr>
        </table>
    <%}%>
</body>
</html>